body {
    background-color: rgb(211, 216, 226);
}

@keyframes move {
    0%   {color:rgb(0, 4, 255); left:995px; }
    20%  {color:red; }
    40%  {color:blue; }
    60%  {color:red;  }
    80% {color:blue; }
    100% {color:red; left:00px;}
  }

p.title {
    color:rgb(32, 9, 163);
    font-size: 20pt;
    animation-name: move;
    animation-duration: 20s;
    animation-timing-function: linear;
    position: relative;
    width:505px;
    animation-iteration-count: infinite;
    text-decoration: underline;
    font-weight: bold;
    

}

table {
    position: static;
    font-size: 22px;
    text-align:center;
    margin-left: auto; 
    margin-right: auto;
    padding: 10px;
    width:250pt;
    color:rgb(14, 49, 112);
    /*border: 2px solid  rgb(87, 103, 170);*/


}
.list_table td{
    border-bottom: 1pt solid rgb(44, 144, 190);
}

.list_table td.toprow {
    font-weight: bold;

    background-color: rgb(13, 46, 189);
    color: lightblue;
}
#myTable td:hover{
    background-color: rgb(198, 207, 224);
    font-style: bold;
    color:rgb(5, 38, 104);
    border: 1pt solid ;  
}
#titletable td:hover {
    
    background-color: rgb(2, 11, 49);
    color: rgb(138, 201, 223);
}

button{
    position: absolute;
    background-color: rgb(183, 200, 235);
    color: rgb(14, 49, 112);
    border: 1px solid;
    border-radius: 5%;
    font-weight: bold;
    font-size: 18px;
    left: 1350px;
    width: 100px;
    height: 50px;
}

button:hover{
    position: absolute;
    background-color: rgb(190, 201, 226);
    color:rgb(14, 49, 112);
    border: 3px solid;
    border-radius: 5%;
    border-color: rgb(2, 26, 73);
    font-weight: bold;
    font-size: 18px;
    left: 1350px;
    width: 100px;
    height: 50px;

}
button:active{
    transform: translateY(4px);


}

#titable {
    background-color:rgb(7, 48, 131);
    color: rgb(211, 216, 226);  
}
#titable:hover{
    color:rgb(238, 255, 1);
}

.ind_table {
    border: 5px solid;
    border-color: rgb(14, 49, 112);
}

#indtable:hover {
    font-weight: bolder;
}